/* CSS for brython bootstrapping loading animations */

div#loading {
  overflow: hidden;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
  background-color: #c4c4c4;
  cursor: wait
}

div#psychology {
    border-radius: 20px;
    border:4px solid;
    padding:20px;
    min-width:30%;
    font-size:2em;
    color: black;
}

.pulsing {
    animation: pulse 2s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.gradientout {
     animation: gradientout 1s;
     animation-timing-function: linear;
}

@keyframes gradientout {
  from { background-color: #c4c4c4; }
  to { background-color: #ffffff; }
}


@keyframes pulse {
  from {opacity:0.1 }
  to {opacity:1}
}

.fadein {
     animation: fadein 1.4s;
}

.growout {
     animation: growout 1s;
     animation-timing-function: linear;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes growout {
  from { opacity: 1; transform:scale(1.0);}
  to   { opacity: 0; transform:scale(2.0);}
}

